<!--this is written in the partials file which will help to reduce redundancy we can use this in other ejs files by syntax like include('partials/head') 
//include ('partials/head') will include this code there and partials/head in the brackets is the path of this file from the ejs file where we are including it 
-->




<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/output.css" />